@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
#wrap{
    font-family: 'Noto Sans TC';
}
#history-detail{
    padding: 56px 0;
    margin: 83px auto 90px;
}
#history-detail .title{
  font-size: 30px;
  text-align: center;
  font-weight: 700;

}
#history-detail .content{
    position: relative;
    width: 900px;
    height: auto;
    margin: 55px auto;
}

#history-detail .content .subTitle{

    font-size: 20px;
    
}
#history-detail .content .line{

    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px 10px;
}
#history-detail .content .text{

    font-size: 16px;
    line-height: 25px;
}
.seemore{
    position: relative;
    width: 120px;
    height: 57px;
    color: #6b6b6b;
    font-size: 15px;
    font-weight: 600;
    line-height: 57px;
    text-indent: 35px;
    border: #dedede 1px solid;
    background: url(../images/index/links-arrow.png) 16px center #ffffff no-repeat;
}
.history_img{
    position: relative;
    width: 904px;
    height: 501px;
}
.history_img img{
    position: absolute;
    margin-top: -20px;
    opacity: 0;
}
.history_img1 img:nth-child(1){
    z-index: 3;
    left: 11px;
}
.history_img1 img:nth-child(2){
    top: 250px;
    z-index: 2;
    left: 151px;
}
.history_img1 img:nth-child(3){
    z-index: 1;
    top: 25px;
    left: 410px;
}
.history_img2 img:nth-child(1){
    z-index: 3;
    left: -5px;
    top: 109px;
}
.history_img2 img:nth-child(2){
    top: -20px;
    left: 300px;
    z-index: 2;
}
.history_img2 img:nth-child(3){
    z-index: 1;
    top: 232px;
    left: 395px;
}
.history_img3 img:nth-child(1){
    z-index: 3;
    left: -5px;
    top: 80px;
}
.history_img3 img:nth-child(2){
    z-index: 2;
    top: 119px;
    left: 425px;
}
