@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}
#history-detail{
    padding: 56px 0;
    margin: 83px auto 90px;
}
#history-detail .title{
  font-size: 30px;
  text-align: center;
  font-weight: 700;

}
#history-detail .content{

    position: relative;
    width: 90%;
    height: auto;
    margin: 55px auto;
}

#history-detail .content .subTitle{

    font-size: 18px;
	font-weight: 600;
    
}
#history-detail .content .line{

    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}
#history-detail .content .text{

    color: #000000;
	font-size: 12px;
    line-height: 20px;
}
.seemore{
    position: relative;
    margin-bottom: 20px;
    width: 115px;
    height: 55px;
    color: #6b6b6b;
    font-size: 12px;
    font-weight: 600;
    line-height: 57px;
    text-indent: 35px;
    border: #dedede 1px solid;
    background: url(../images/index/links-arrow.png) 16px center #ffffff no-repeat;
    background-size: 5%;
    background-position: 20px;
}
.history_img img{
    position: relative;
    width: 100%;
    opacity: 0;
    margin-top: -20px;
}
.history_img1 img:nth-child(1){
    z-index: 3;
    left: -5px;
}
.history_img1 img:nth-child(2){
    top: -27px;
    z-index: 2;
}
.history_img1 img:nth-child(3){
    z-index: 1;
    top: -40px;
    left: -3px;
}
.history_img2 img:nth-child(1){
    z-index: 3;
    left: -5px;
}
.history_img2 img:nth-child(2){
    top: -27px;
    z-index: 2;
}
.history_img2 img:nth-child(3){
    z-index: 1;
    top: -56px;
    left: 4px;
}
.history_img3 img:nth-child(1){
    z-index: 3;
    left: -5px;
}
.history_img3 img:nth-child(2){
    top: -27px;
    z-index: 2;
}
